.fixed-button{
  position: fixed;
  bottom:0;
  z-index: 9999;
  background-color:white;
  width: 100%;
  .tool-btn {
    height: 44PX;
    background-color:#0051CC ;
    position: absolute;
    top:8PX;
    left:16PX;
    text-align: center;
    right:16PX;
    line-height: 44PX;
    margin:0 auto;
    border-radius: 6PX;
    color: #fff;
    font-size: 15PX;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: normal;
  }
}

.cover_mask{
  position: relative;
  height: 100%;
  width: 100%;
  .mask{
    height: 100%;
    width: 100%;
  }
  .btn{
    position: absolute;
    top:50%;
    left:50%;
    z-index: 0;
    transform: translate(-50%,-50%);
    width:64.533333%;
    height: 44PX;
    border-radius: 6PX;
    line-height: 44PX;
    text-align: center;
    background: #0051CC;
    font-size: 16PX;
    font-family: PingFangSC-Semibold;
    color: #FFFFFF;
  }
  .auth_login{
    position: absolute;
    top:50%;
    left:50%;
    z-index: 0;
    transform: translate(-50%,-50%);
    width:64.533333%;
    height: 44PX;
    border-radius: 6PX;
  }

}
